body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

header {
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.header-img {
    width: 30%;
    position: absolute;

}

.header-h1 {
    width: 70%;
    position: absolute;
}

header img {
    width: inherit;
    height: auto;    

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: inherit;
}

header span {
    text-align: center;
}

.header-nav {
    list-style: none; /* Eliminar los bullets */
}

.header-nav_item {
    display: inline; /* Alinear todas las opciones en una sola linea */
}

.header-nav_item a {
    text-decoration: none;
}

.header-nav_item a:hover {
    color: blue;
}



span {
    font-weight: 900;    
}

footer {
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-width: 1px;    
}

.box {
    border:solid red 1px;
    background-image: url();
}

.imagen {
    position: absolute;
    width: 50px;
    top:50%;
    transform: translateY(-50%);
}

h2 {
    text-align: center;
}

.titulo {
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
}

.contenedor {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: grey;
}